#social {

position: fixed;
top: 230px;
right: 0px;
width: 50px;
height: auto;
padding: 12px 0px;
text-align: center;
transition:  linear 0s;
 }

#social > button{ display:block; background-color:transparent; background-image:url(share_icon.png); width:36px; height:36px; border:none; cursor:pointer; margin:4px auto; opacity:0.6; transition: opacity 0.2s linear 0s; }
#social > button:hover{ opacity:1; }
#social > button:nth-child(1){background-position:0px;}
#social > button:nth-child(2){background-position:-36px;}
#social > button:nth-child(3){background-position:-72px;}
#social > button:nth-child(4){background-position:-252px;}


}


#social > button {
   
    background-image: url(share_icon.png);
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    margin: 4px auto;
    opacity: 0.6;
    transition:  linear 0s;
}
